doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title My story points
    script(src="https://cdn.tailwindcss.com")
    link(rel='stylesheet' href='/css/index.css')
  body
    section
      header.w-full.bg-indigo-500.py-3.px-5.text-white.text-left
        p.text-xl.font-bold My story points
      div
        div.flex.justify-center.mt-5
          form.flex.justify-center(hx-get="/tasks", hx-target="#todo-list", hx-swap="outerHTML", _="on htmx:afterOnLoad set #txtTodo.value to ''")
            input#txtTodo(class="px-3 py-2 border-5 focus:border-rose-500" name="userId",placeholder='Jira userId', autofocus='')
            div.block.self-center
              label.ml-4 1M
              input(type="radio" name="months" value="1")
              label.ml-2 2M
              input(type="radio" name="months" value="2")
              label.ml-2 3M
              input(type="radio" name="months" value="3")
            button.ml-4.px-5.py-2.bg-indigo-500.rounded-md.text-white.font-bold Buscar
      #todo-list
        include includes/task-items

    script(src='https://unpkg.com/htmx.org@1.3.1')
    script(src='https://unpkg.com/hyperscript.org@0.0.5')

