doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title My story points
    script(src="https://cdn.tailwindcss.com")
    link(rel='stylesheet' href='/css/index.css')
  body
    section
      header.w-full.bg-indigo-500.py-3.px-5.text-white.text-left
        p.text-xl.font-bold My story points
      div(class="w-2/3 mx-auto mt-10")
        p.text-5xl.text-center.mb-20.font-semibold.text-gray-600 Visualiza tus story points de una manera facil para saber tu rendmiento
        form(hx-get="/tasks", hx-target="#todo-list", hx-swap="innerHTML")
          .w-full
            input(class="px-3 w-full py-2 mb-4 border-5 focus:border-rose-500" name="jiraUser",placeholder='Usuario en Jira', autofocus='' required)
          .w-full
            input(class="px-3 w-full py-2 mb-4 border-5 focus:border-rose-500" name="token",placeholder='Jira token', autofocus='' required)
          .w-full
            input(class="px-3 py-2 mb-4 w-full border-5 focus:border-rose-500" name="userId",placeholder='Jira userId a buscar', autofocus='' required)
          .block.self-center.mb-4
            label.mr-1 1M
            input(type="radio" name="months" value="1" required)
            label.ml-2.mr-1 2M
            input(type="radio" name="months" value="2" required)
            label.ml-2.mr-1 3M
            input(type="radio" name="months" value="3" required)
          button.px-5.py-2.bg-indigo-500.rounded-md.text-white.font-bold Buscar
      #todo-list

    script(src='https://unpkg.com/htmx.org@1.3.1')
    script(src='https://unpkg.com/hyperscript.org@0.0.5')

