body {
  background-color:#f3f4f6;
}


tbody tr {
  background-color: white;
}
thead tr {
  background-color: white;
}
thead tr th,tbody tr td{
    border:1px solid #D0d5dd;
}

tbody tr:nth-child(even) {
  background-color: #f3f4f6;
}
