body {
  background-color: #f1f5fb;
}

tbody {
  padding: 0 20px;
}
td {
  padding: 10px 5px;
}
tbody tr {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: #f9fafe;
}
th {
  padding: 10px 5px;
}
