body {
  background-color:white;
}

.tag{
  min-width: 220px;
}
tbody tr {
  background-color: white;
}
thead tr {
  background-color: white;
}
thead tr th,tbody tr td{
    border:1px solid #D0d5dd;
}

tbody tr:nth-child(even) {
  background-color: #f3f4f6;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: #f3f4f6;
  color: black;
  border-radius: 6px;
  padding: 5px 5px;

  /* Position the tooltip */
  bottom:45px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
